@page "/find-fhir-data"
@using FastPass.UI.Components;

<PageTitle>Find FHIR Data</PageTitle>

@if (FhirBundle == null)
{
    // todo: handle bad responses by displaying error message and keeping form displayed
    <TextAnalyticsForm @bind-Value="@FhirBundle"></TextAnalyticsForm>
}
else
{
    <form>
        @foreach (var patient in Patients)
        {
            <PatientForm Patient="@patient"></PatientForm>
        }

        @foreach (var observation in Observations)
        {
            <ObservationDisplay Observation="@observation"></ObservationDisplay>
        }
    </form>
}