@page "/submittext"
@using FastPass.Models
@inject ILogger<SubmitText> Logger
@inject HttpClient Http

<h3>Submit Text</h3>

<EditForm Model="@textAnalyticsProxyRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Input Text:</label>
        <InputTextArea @bind-Value="textAnalyticsProxyRequest.TextToAnalize" />
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private TextAnalyticsProxyRequest textAnalyticsProxyRequest = new TextAnalyticsProxyRequest { };

    private async Task HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
        await Http.PostAsJsonAsync<TextAnalyticsProxyRequest>("api/TestAnalyticsServiceProxy", textAnalyticsProxyRequest);
        // Process the valid form
    }
}

