@page "/submittext"
<h3>Component1</h3>

<EditForm>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Input Text:</label>
        <InputTextArea />
    </p>
</EditForm>

@code {

}

