@page "/submittext"
@using FastPass.UI.Services;
@using Hl7.Fhir.Model
@using Hl7.Fhir.Serialization
@using Newtonsoft.Json;

@inject ILogger<SubmitText> Logger
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject ApiService _apiService;

<h3>Submit Text</h3>
<EditForm Model="@textAnalyticsProxyRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Input Text:</label>
        <InputTextArea @bind-Value="textAnalyticsProxyRequest.TextToAnalyze" class="form-control" />
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<div class="row">
    <AnalyzeHealthcareEntitiesResultComponent Entities="@entities" />
</div>

@code {
    TextAnalyticsProxyRequest textAnalyticsProxyRequest = new TextAnalyticsProxyRequest { };
    IList<Entity> entities = default!;


    private async System.Threading.Tasks.Task HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        entities = await _apiService.FindEntitiesAsync(textAnalyticsProxyRequest);
    }
}
