@page "/submittext"
@using FastPass.Models
@using FastPass.UI.ViewModels
@using Hl7.Fhir.Model
@using Hl7.Fhir.Serialization
@inject ILogger<SubmitText> Logger
@inject HttpClient Http
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager

<h3>Submit Text</h3>
<EditForm Model="@textAnalyticsProxyRequest" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>Input Text:</label>
        <InputTextArea @bind-Value="textAnalyticsProxyRequest.TextToAnalyze" />
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    TextAnalyticsProxyRequest textAnalyticsProxyRequest = new TextAnalyticsProxyRequest { };

    private async System.Threading.Tasks.Task HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        //var result = await Http.GetStringAsync("sample-data/fhirBundle.json");

        var result = await Http.PostAsJsonAsync<TextAnalyticsProxyRequest>("api/TestAnalyticsServiceProxy", textAnalyticsProxyRequest);

        var bundle = await result.Content.ReadAsStringAsync();

        await sessionStorage.SetItemAsStringAsync("bundle", bundle);

        //var patient = bundle.Entry.Find(x => x.Resource.TypeName.ToLower() == "patient")?.Resource as Patient;

        Logger.LogInformation(bundle);

        NavigationManager.NavigateTo("/validate");
    }
}

