{"swagger":"2.0","info":{"version":"1.0.0","title":"TextAnalytics4Health-20220515","description":"Text Analytics For Health (2022-05-15)"},"host":"fp-lang.cognitiveservices.azure.com","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/language/analyze-text/jobs":{"post":{"summary":"Extract Health Information","description":"Asynchronous Extract Health Information call. Returns a job id to follow","operationId":"ExtractHealthInformationAsync","parameters":[{"name":"api-version","default":"2022-05-15-preview","in":"query","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"Ocp-Apim-Subscription-Key","in":"header","required":true,"type":"string","description":"Ocp-Apim-Subscription-Key"},{"name":"body","in":"body","schema":{"type":"object","properties":{"tasks":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"string","description":"kind","title":"Kind","default":"Healthcare"},"parameters":{"type":"object","properties":{"fhirVersion":{"type":"string","description":"fhirVersion","title":"fhirVersion","default":"4.0.1"}},"description":"parameters","required":["fhirVersion"]}},"required":["parameters"]},"description":"tasks"},"analysisInput":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id","title":""},"text":{"type":"string","description":"text","title":"Text to analyze","default":"Enter some text here to analyze"},"language":{"type":"string","description":"language","title":"Input Language","default":"en"}},"required":["id","text","language"]},"description":"documents"}},"description":"analysisInput","required":["documents"]}},"default":{"tasks":[{"kind":"Healthcare","parameters":{"fhirVersion":"4.0.1"}}],"analysisInput":{"documents":[{"id":"documentId","text":"Text to analyze","language":"en"}]}},"required":["analysisInput","tasks"]},"required":true}],"responses":{"default":{"description":"default","schema":{"type":"string"},"headers":{"operation-location":{"description":"operation-location","type":"string"}}}}}},"/language/analyze-text/jobs/e5f067fe-e6e9-43de-85b6-8247ea0602ff":{},"/language/analyze-text/jobs/{JobId}":{"get":{"summary":"Extract Health Information Retrieve","description":"Asynchronous call back to the Analyze Text call","operationId":"ExtractHealthInformationAsyncRetrieve","parameters":[{"name":"JobId","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":true,"type":"string","default":"2022-05-15-preview","description":"api-version"},{"name":"Ocp-Apim-Subscription-Key","in":"header","required":false,"type":"string"}],"responses":{"default":{"description":"default","schema":{}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"API Key":{"type":"apiKey","in":"header","name":"Ocp-Apim-Subscription-Key"}},"security":[{"API Key":[]}],"tags":[]}